<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<% controller.controller_name %>'>			<!-- #class='<% controller.controller_name %>' in the body to make rails upload stylesheet that is related to the same name of the controller-->

<%= yield %>

</body>
</html>
